.scheduleContainer {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff; 
    margin-left: 20px;
}

.schedule-box {
  width: 100%;
  max-width: 800px;
  background-color: #EAD5FC;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'inter', sans-serif;
}

.schedulehero {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #9926F0;
}

.icon {
  font-size: 2rem;
  margin-right: 10px;
}

.schedulehero-text h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #9926F0;
  font-family: 'inter', sans-serif;
}

.schedulehero-text h3 {
  margin: 0;
  font-size: 1rem;
  color: #9926F0;
  font-family: 'inter', sans-serif;

}

.label {
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: 'inter', sans-serif;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'inter', sans-serif;
}
.input-data {
  width: 92%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'inter', sans-serif;
}
.input-local {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'inter', sans-serif;
}

.activity-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  font-family: 'inter', sans-serif;
  font-weight: 700;
}

.activity-button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background-color: #fff;
  color: #666;
  cursor: pointer;
  transition: all 0.3s;
  font-family: 'inter', sans-serif;
  font-weight: 700;
}

.activity-button.selected {
  background-color:  #9926F0;
  color: #fff;
  font-family: 'inter', sans-serif;
  font-weight: 700;
}

.finalize-button {
  background-color: #9926F0;
  text-align: center;
  line-height: normal;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 250px;
  margin-left: 50px;
  transition: background-color 0.3s;
  margin-bottom: 700px;
  font-family: 'inter', sans-serif;
  font-weight: 700;
  width: 300px;
}

.finalize-button:hover {
  background-color: #7b1bc4;
}
.finalize{
  width: 25px;
  margin-left: 5px;
  margin-bottom: 4px;
}
.rowschedule {
  display: flex; 
  gap: 2rem;
}
.inputschedule {
  display: flex;
  flex-direction: column;
  flex: 1;  
}