/* Container principal */
.user-profile-container {
  align-items: center;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}
.division {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
  padding: 10px; 
  box-sizing: border-box;
  background-color: #ffffff; 
  margin-top: 20px;
}

/* Retângulo principal */
.user-box {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-icon {
  font-size: 40px;
  margin-right: 10px;
}

.user-details {
  flex-grow: 1;
}

.user-name {
  color: #9926f0;
  margin: 0;
  font-size: 22px;
  text-align: left;
  margin-top: 20px;
}

.user-location {
  color: #706f6f;
  margin: 5px 0;
  text-align: left;
}

.user-activities {
  margin: 5px 0;
  color: #9926f0;
  text-align: left;
  font-size: 20px;
}

.connect-button {
  background-color: #9926f0;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  cursor: pointer;
  height: 40px;
  font-weight: bold;
  width: 130px;
  margin-left: 20px;
}

.connect-button:hover {
  background-color: #7a1fd3;
}

/* Seção de interesses */
.interests-section {
  margin-top: 20px;
  text-align: center;
}

.interests-title {
  color: #9926f0;
  font-weight: bold;
  margin-bottom: 10px;
}

.interests-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.interest {
  border: 2px solid #9926f0;
  background-color: transparent;
  color: #9926f0;
  padding: 8px 10px;
  border-radius: 20px;
}

.other-interests .interest {
  border-color: #706f6f;
  color: #706f6f;
}


/* Botões fora do retângulo */
.actions-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  margin-left: 30px;
}

.schedule-button,
.message-button {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  }

.schedule-button {
  background-color: #9926f0;
  color: white;
  font-weight: bold;
  line-height: 2;
}

.schedule-button:hover {
  background-color: #7a1fd3;
}

.message-button {
  background-color: white;
  color: #9926f0;
  border: 2px solid #9926f0;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 500px;
}

.message-button:hover {
  background-color: #f7f0fd;
}
.button-icon{
  width: 15px;
  height: 15px;
  margin-left: 10px;
}
.button-icon1{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

body {
  margin: 0;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}
.icon-star{
  width: 20px;
}

