.chat-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.chat-box {
  flex: 1;
  margin: 20px;
  padding: 20px 30px;
  background-color: #fb8075;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  margin-top: 80px;
  max-width: 600px;
  width: 500px;
  margin-bottom: 80px;
  max-height: 700px;
  flex-grow: 1; 
  flex-direction: column;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.chat-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.chat-icon {
  font-size: 50px;
  margin-right: 10px;
  margin-left: 20px;
}

.chat-title {
  font-size: 20px;
  margin: 0;
  color:white;
  margin-left: 15px;
  margin-top: 10px;
}

.chat-user-name {
  font-size: 20px;
  margin: 0;
  color:white;
  margin-left: 45px;
  font-weight: 700;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  flex-grow: 1;
  overflow-y: auto; /* Ativa o scroll vertical */
  margin-bottom: 20px;
  height: calc(80vh - 220px);
}
/* Estilizando o scroll */
.chat-messages::-webkit-scrollbar {
  width: 8px;
  background-color: #f3b5af; /* Cor do fundo da barra de rolagem */

}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #e46b60; /* Cor da "pega" da barra */
  border-radius: 4px;
  
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa; /* Cor ao passar o mouse */
}

.chat-messages::-webkit-scrollbar-track {
  background-color: transparent; /* Fundo do trilho */
}
.chat-message {
  margin-bottom: 15px;
}

.chat-message.sent {
  text-align: right;
  margin-right: 15px;
}

.chat-message.received {
  text-align: left;
  max-width: 300px;
  
}

.message-label {
  font-size: 12px;
  color: white;
}

.message-content {
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  background-color: #ffffff8a;
  max-width: 70%;
  word-wrap: break-word;
  box-shadow: 0px 3px 5px  rgba(0, 0, 0, 0.3);
  max-width: 300px;
}

.chat-message.sent .message-content {
  background-color: #ead5fc;
  color:gray;
  box-shadow: 0px 3px 5px  rgba(0, 0, 0, 0.3);
  max-width: 400px;
}

.chat-input-box {
  display: flex;
  gap: 10px;
  height: 50px;
}

.chat-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.send-button {
  background-color: #9926f0;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 10px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #7a1dbd;
}

/* Parte Esquerda */
.left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  padding-left: 20px; 
  max-width: 50%;
}
/* Parte Direita */
.right-section {
  display: flex;
  justify-content: center; 
  align-items: center;
  max-width: 50%; 
  margin-left: 40px; 
}