body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(135deg, #fb8075, #9926f0);
  color: white;
  padding-top: 200px;
}

.menu-bar {
  position: fixed;  /* Fixar o menu no topo */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;  /* Garantir que o menu tenha uma camada superior */
 
}
/* Conteúdo Central */
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0px;
  margin-top: 100px;
  z-index: 1;
}


/* Parte Esquerda */
.left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  padding-left: 20px; 
  max-width: 50%;
}

.title {
  font-size: 85px;
  font-family: "Baloo 2", sans-serif;
  margin: 0;
  line-height: .8;
}

.description {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  
}

.buttons {
  
  display: flex;
  gap: 15px;
}

.main-button-entrar {
  display: flex;               
  align-items: center;          
  justify-content: center;     
  font-family: "Baloo 2", sans-serif;
  padding: 7px 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  gap: 8px;                    
}
.main-button-entrar:hover {
  background-color: #9926F0;
}
.main-button-cadastrar {
  display: flex;               
  align-items: center;          
  justify-content: center;     
  font-family: "Baloo 2", sans-serif;
  padding: 7px 18px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: #000000;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  gap: 8px;                    
}
.main-button-cadastrar:hover {
  background-color: #9926F0;
}

.rosa2 {
  width: 30px;                  
  height: 30px;                 
}


/* Parte Direita */
.right-section {
  display: flex;
  justify-content: center; 
  align-items: center;
  max-width: 50%; 
  padding-right: 20px; 
}

.image {
  max-width: 75%;
  height: auto;
  padding-top: 50px;
  }

 